
:root{
    --color1: #1E1E1E;
    --color2: #00ADB5;
    --color3: #222831;
    --white : #fff;
    --color: #393E46;
}

#header{
    display: flex;
    background-color:var(--color3)  ;
}
.profession{
    padding: 10%;
   
}


.profession h1{
    font-size: 82px;
    font-weight: 900;
    color: #fff;
    font-family: "Poppins", sans-serif;
   

}

.profession  span{
    font-weight: 900;
    color: #00ADB5;
}
.flex{
    display: flex;
}

.flex{
    color: #fff;
    display: flex;
    gap: 15px;
}
.flex h3{
    font-family: "Poppins", sans-serif;
padding: 10px;
  font-weight: 400;
    background-color: var(--color);
    color: #fff;
    border-radius: 18px;
    font-size: 14px;
}
.images img{
    position: absolute;
    top: 38%;
}
.premiere{
    z-index: 10;
}
.vector{
    position: absolute;
    top: 37%;
    left: 3%;
}
